<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>CryptoCurrency</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>% Price Change 24h</th>
            <th>Market Cap USD</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let coin of coins25">
            <th>{{coin["rank"]}}</th>
            <td>{{coin["name"]}}</td>
            <td>{{coin["symbol"]}}</td>
            <td>{{"$" + convertPrice(coin["priceUsd"])}}</td>
            <td>{{coin["changePercent24Hr"]}}</td>
            <td>{{"$" + convertMC(coin["marketCapUsd"])}}</td>
        </tr>
    </tbody>
</table>