@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}


p {
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0088A9;
}

h1 {
    font-family: "Montserrat", sas-serif;
    font-size: 18px;
    font-weight: 10;
    color: #0088A9;
    margin-left: 10px;
}

h2 {
    font-family: "Montserrat", sas-serif;
    font-size: 16px;
    font-weight: 10;
    color: #0088A9;
    margin-left: 23px;
}

.logo {
    cursor: pointer;
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 20px;
    color: orange;
    text-decoration: none;
}

#navi {
    font-size: 25;
}

nav ul {
    font-size: 30px;
    display: block;
    max-width: 95%;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
}

header nav ul li {
    color: #0088A9;
    float: left;
    padding: 8px 15px;
    text-decoration: none;
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    text-align: center;
    width: 33%;
}

a {
    text-decoration: none;
    color: orange;
}

#coinstop {
    text-decoration: none;
    color:red;
}




button {
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 25px;
    background-color: orange;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0,136,169,0.8);
}


input {
    margin-left: 10px;
    margin-right: 8px;
}



footer {
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #0088A9;
}

.about {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    text-align: center;
}

table {
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0088A9;

    margin-left: 1%;
    margin-top: 1%;
    width: 80%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

tbody td {
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


