@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, button {
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

p {
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0088A9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

h1 {
    font-family: "Montserrat", sas-serif;
    font-size: 18px;
    color: #0088A9;
    padding: 10px 10px;
}

.logo {
    cursor: pointer;
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 20px;
    color: #0088A9;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088A9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

a {
    text-decoration: none;
    color: orange;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    font-family: "Montserrat", sas-serif;
    font-weight: 500;
    font-size: 20px;
    color: green;
    text-decoration: none;
}

.about {
    margin: 0 auto;
    text-align: center;
    width: 10%;
    text-decoration: none;
    color: #0088A9;
}

table {
    /* background-color:rgb(67, 138, 161); */
    margin-left: 1%;
    margin-top: 1%;
    width: 80%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

tbody td {
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}